body{
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
h2{
    color:rgb(90, 45, 45);
    text-align: center;
    font-size: 50px;
}
.calculator{
    background-color: rgb(184, 213, 195);
    color: black;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 10px 10px rgb(184, 213, 195);
    width: 500px;

}
#display{
    background-color: rgb(201, 218, 233);
    height: 30px;
    width: 100%;
    border-radius:10px ;
    margin-top: 20px;
    font-size:22px;
    text-align:right;
    padding-top: 15px;
    border:none;
    box-sizing: border-box;
    font-size: 20px;
    overflow-x: auto;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px;
}

button {
  padding: 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 12px;
  background-color:cornsilk;
  color:brown;
  cursor:pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: all 0.2s ease;
}

button:hover {
  background-color: burlywood;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
}

button.operator {
  background-color:rgb(209, 152, 131);
  color: rgb(162, 114, 114);
}

button.equal {
  background-color:blue;
  color: white;
  grid-column: span 2;
}

button.clear, button.delete {
  background-color: hsl(0, 69%, 67%);
  color: white;
}




